@charset "utf-8";
body{
	background-image: url("http://static.tumblr.com/22412cf8be3ec45b6b1b7be1f215a9a6/a99owib/kjtnk7bmf/tumblr_static_232felsx4log4cocsw8o0owk0.jpg");
	width: auto;
	height: auto;
}
.page
{
	width: 1024px;
	height: 1300px;
	margin: auto;
	padding: auto;
	box-shadow: 3px 3px 6px 6px #d91a5f;
	background-color:#FFF;	
	}


#nav {
	position: relative;
	height: 50px;
	width: 1024px;
	margin: auto;
	position: center;
	margin-bottom: 0px;

}
#background {
	position: absolute;
	height: 300px;
	width: 500px;
}
 #Banniere{
 	margin-top: 0px;
 	border-bottom: 5px solid #d91a5f;

 }


ul
{

margin-left:0px;
margin-right:0px;
padding:0px;
text-align: center;


}
ul li 
{
	background-color: #d91a5f;
	border: 1px solid white;
	width: 254px;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	list-style: none;
	color: #666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	
	}
ul li a
{
color:#FFF;	
text-decoration:none;	
display:block;

	}
ul li a:hover
{
	background-color:#0b7d9f;
	padding:0px 20px 0px 20px;
	
	
	}
ul li ul li
{
	display:none;
	}
	
ul li:hover ul li
{
	display:block;
	position: relative; z-index: 8;
	transition: all 0.5s ease;
	}
	 
.logo
	{
	
	float:left;
	padding:0px;
	margin-left:0px;
	margin-top:6px;

		}

		
#conteneur{
	width: 1000px;
	height: 700px;
	margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
	font-family:Tahoma, sans-serif;
	font-size: 16px;

h1{
	font-size: 48px;
	color:#d91a5f;
}
}
#pied{
	width: 1024px;
	height: 50px;
	background-color: #d91a5f;
	padding: 0px;
	margin-top: 50px;
		line-height: 50px;
}


section{
	background-color:  rgba(218,29,98,0.2);
	width: 1004px;
	height: 300px;
	margin-right:100px;
	margin-left: 0px;
	border: 1px solid   #666;
	border-radius:10px;



}